* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

button {
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background-color: lightblue;
    border-radius: 5px;
    transition: all, ease-in-out, 360ms;
    outline: none;
    padding: 10px;
    border: none;
    text-transform: uppercase;
}

button:hover, button:focus, button:disabled {
    transform: scale(1.1);
    background-color: lightsalmon;
}

input {
display: block;
}